<main class="page">
    <section id="author_and_team" class="clean-block about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 offset-lg-0">
                    <div class="block-heading" style="padding-top:0px;margin:0px;">
                        <h2 class="text-info" style="font-family:Quattrocento, serif;font-size:2.8rem;margin-bottom:0px;">English I Know Team</h2>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-8" style="margin-bottom:20px;">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/26909691-10156179302253578-1382866702-o_1_orig.jpg">
                                <div class="card-body info" style="padding:0px;">
                                    <h4 class="text-black-50 card-title">Elizabeth Anderson</h4>
                                    <h4 class="text-info card-title" style="font-family:Quattrocento, serif;font-weight:normal;">Author</h4>
                                    <p class="card-text">Started traveling to Guatemala and Mexico in 2002. During her travels she realized that often times the schools didn't have comprehensible material to learn the English language with. Most all schools in Mexico
                                        and Guatemala require English as a subject but very few come out knowing any real English. After months of creating, writing, and revising with various school teachers in Guatemala she published her first Conozco
                                        Ingles book to the public. She now works diligently to provide her materials to public schools in Mexico, Guatemala and individuals interested in learning English. Elizabeth teaches group classes in the Quetzaltenango
                                        area to adults and kids still in school. Her dream is to provide a solid way for Spanish speakers to learn English without a lot of confusion.&nbsp;<br></p>
                                    <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-inline-block">
                        <div class="col-lg-12">
                            <div class="card-group" style="margin-bottom:2rem;">
                                <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/26754773-10156179302223578-617737553-n_1_orig.jpg" style="height:24rem;">
                                    <div class="card-body info">
                                        <h4 class="text-black-50 card-title">Chris Anderson<br></h4>
                                        <h4 class="text-info card-title" style="font-weight:normal;font-family:Quattrocento, serif;">Engineer and Computer Programmer<br></h4>
                                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                    </div>
                                </div>
                                <div class="card clean-card text-center">
                                    <div class="card-body info">
                                        <p class="text-justify card-text">Chris and Coleen Anderson developed the learning system used in Conozco Ingles many years ago to help their children advance in school. When they started traveling in 2002 none of their kids knew Spanish. Chris
                                            created a computer program to help his children learn the language. All six of his children learned Spanish and continue to speak it fluently to this day.<br>Chris Anderson as an Engineer and his wife, Coleen
                                            Anderson as an artist and editor, have contributed to the Conozco Ingles program all through it's development.<br></p>
                                    </div>
                                </div>
                                <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/26829892-10156179302258578-765656436-o-1_orig.jpg" style="height:24rem;">
                                    <div class="card-body info">
                                        <h4 class="text-black-50 card-title">Coleen Anderson<br></h4>
                                        <h4 class="text-info card-title" style="font-weight:normal;font-family:Quattrocento, serif;">Artist and Editor<br></h4>
                                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-group">
                                <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/bob.jpg" style="height:20rem;">
                                    <div class="card-body info">
                                        <h4 class="text-black-50 card-title"><strong>Bob Askey</strong><br></h4>
                                        <h4 class="text-info card-title" style="font-weight:normal;font-family:Quattrocento, serif;">Photographer and Artist<br></h4>
                                        <p class="text-justify card-text"><strong>Bob Askey</strong>&nbsp;is a hobbyist photographer who mainly enjoys taking photos during his hikes, or sometimes in his own yard. He specializes in “Up Close” scenes to show the details that most of
                                            us miss. He also enjoys and tinkers with electronics, experimenting and building projects using Arduino’s. Bob then must write the software to run these projects and it all keeps him busy. He also has six
                                            bird feeders, two bird houses, and a bird bath to attend to. His wife Amy keeps him well fed throughout all of his projects!<br></p>
                                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                    </div>
                                </div>
                                <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/sylvia.jpg" style="height:20rem;">
                                    <div class="card-body info">
                                        <h4 class="text-black-50 card-title"><strong>Sylvia Mason</strong><br></h4>
                                        <h4 class="text-info card-title" style="font-weight:normal;font-family:Quattrocento, serif;">Photographer and Artist<br></h4>
                                        <p class="text-justify card-text"><strong>Sylvia Mason</strong>&nbsp;is a hobbyist photographer that loves to capture God’s beauty though the lens. She has taken pictures all her life but became serious in 2005 when she got her first digital
                                            camera. Doing spectacular close ups and a wide range of colorful scenic photos, she has a true eye for beauty. During hikes, camping, or any occasion her camera isn’t far, ready to capture another memory.
                                            Sylvia has been happily married 46 years, has several grandchildren, and loves life with her family. She is a great inspiration and friend.<br><br><a href="https://l.facebook.com/l.php?u=http%3A%2F%2Fcrockettcooncaps.com%2Fsylvias-photos%2F&amp;h=ATOklHzon3uW87YE83DKhDJGPMoWNk8Ga2FJq4JQtYrNQvcKh2ByA2sSGutdWs-pSZK40sJKfi8gTfYvAN42XAgcfV0GJzpxaHCONbhlB4-XncJLWCFJvlFSVNoRN1bnINSDdzkuoq5p">http://crockettcooncaps.com/sylvias-photos/</a><br></p>
                                        <div
                                            class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                </div>
                            </div>
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/2.jpg" style="height:20rem;">
                                <div class="card-body info">
                                    <h4 class="text-black-50 card-title"><strong>Irina Dringova</strong><br></h4>
                                    <h4 class="text-info card-title" style="font-weight:normal;font-family:Quattrocento, serif;">Photographer and Artist<br></h4>
                                    <p class="text-justify card-text"><strong>Irina Dringova​</strong>&nbsp;is an amazing and talented artist from Ukraine. She has been drawing since she was little. Art plays a huge role in her life. While Irina’s work is mainly focused on children's
                                        books, she also does vector art, character design, watercolor illustrations and cartoon drawings. She also likes digital painting. Photoshop and Paint Tool SAI are other programs she likes to work in. While
                                        studying, Irina has concentrated on drawing children's book illustrations. When she isn’t drawing she likes to be with her family and friends.<br></p>
                                    <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:2rem;">
                            <div class="col-sm-6 col-lg-4 offset-md-3 offset-lg-4" style="padding:0px;">
                                <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/Logo%20Conexxion%20Business%20opcion%201%20grand.png">
                                    <div class="card-body info">
                                        <h4 class="text-black-50 card-title"><strong>Irving Amador</strong><br></h4>
                                        <h4 class="text-info card-title" style="font-weight:normal;font-family:Quattrocento, serif;">Web Developer<br></h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<div class="team-clean"></div>
