
<div class="col-md-8 offset-lg-2 shadow p-3 mb-5 bg-white rounded" style="margin-bottom:3rem;">

  <div class="card" *ngIf="!paymentConfirmed">
    <h5 class="card-header text-primary">
      Order Summary
    </h5>

    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cartItems; let i = index" class="list-group-item">

          <div class="img-fluid img-thumbnail rounded-circle float-left" style="width:4rem;height:4rem;margin-right:1rem"></div>
          <div  class="float-right">
            <div class="float-top">
              <i class="fa fa-trash-o pull-right pointer" (click)="deleteItem(i)" style="margin-left:1rem;"></i>
            </div>
            <div class="float-right" style="margin-top:1rem;">
              {{ item.price | currency }}
            </div>
          </div>
          <div class=""><h6>{{ item.title }}</h6></div>
          <div class="">
            Qty: 1
          </div>

      </li>
      <li class="list-group-item">
        <div class="" style="margin-left:1rem;">
          <h6 class="text-primary">
            Total <span class="float-right">{{ finalAmount | currency }}</span>
          </h6>
        </div>
      </li>
      <li class="list-group-item">
        <div *ngIf="!authService.isLoggedIn()" style="text-align:center;">
          <p>To proceed please <a [routerLink]="['/sign-in']">Sign in</a> or <a [routerLink]="['/sign-up']">Sign up</a>. </p>
        </div>
        <div id="paypal-button-container" align="center" style="margin-left:auto;margin-right:auto;margin-top:1rem;width:200px;"></div>
      </li>

    </ul>

  </div>

  <div class="card" *ngIf="paymentConfirmed">
    <h5 class="card-header text-primary">
      Payment Confirmed
    </h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4>Thank you for your purchase!</h4>
        <p>Now you can go to the </p><a [routerLink]="['/dashboard']">Dashboard</a>.
      </li>

    </ul>

  </div>

</div>

<!-- 
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<div id="paypal-button-container"></div>

<div id="confirm" class="hidden">
    <div>Ship to:</div>
    <div><span id="recipient"></span>, <span id="line1"></span>, <span id="city"></span></div>
    <div><span id="state"></span>, <span id="zip"></span>, <span id="country"></span></div>

    <button id="confirmButton">Complete Payment</button>
</div>

<div id="thanks" class="hidden">
    Thanks, <span id="thanksname"></span>!
</div>

<script>
    paypal.Button.render({

        env: 'sandbox', // sandbox | production

        client: {
            sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
            production: '<insert production client id>'
        },

        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '0.01', currency: 'USD' }
                        }
                    ]
                }
            });
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {

            // Get the payment details

            return actions.payment.get().then(function(data) {

                // Display the payment details and a confirmation button

                var shipping = data.payer.payer_info.shipping_address;

                document.querySelector('#recipient').innerText = shipping.recipient_name;
                document.querySelector('#line1').innerText     = shipping.line1;
                document.querySelector('#city').innerText      = shipping.city;
                document.querySelector('#state').innerText     = shipping.state;
                document.querySelector('#zip').innerText       = shipping.postal_code;
                document.querySelector('#country').innerText   = shipping.country_code;

                document.querySelector('#paypal-button-container').style.display = 'none';
                document.querySelector('#confirm').style.display = 'block';

                // Listen for click on confirm button

                document.querySelector('#confirmButton').addEventListener('click', function() {

                    // Disable the button and show a loading message

                    document.querySelector('#confirm').innerText = 'Loading...';
                    document.querySelector('#confirm').disabled = true;

                    // Execute the payment

                    return actions.payment.execute().then(function() {

                        // Show a thank-you note

                        document.querySelector('#thanksname').innerText = shipping.recipient_name;

                        document.querySelector('#confirm').style.display = 'none';
                        document.querySelector('#thanks').style.display = 'block';
                    });
                });
            });
        }

    }, '#paypal-button-container');

</script>


AgjP94ZOcyhwiM5g.XjNm73Qmw4cAWGoYiyWJsrO2CChl8GvX3rapRsn
 -->
