<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container" style="padding-top:2rem;">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 shadow p-3 mb-5 bg-white rounded">
                    <div class="block-heading" style="padding:0px;">
                        <h2 class="text-info">Contact Us</h2>
                        <p>Tell us what's on your mind we would love to hear it.</p>
                    </div>
                    <form>
                        <div class="form-group"><label>Name</label><input class="form-control" type="text"></div>
                        <div class="form-group"><label>Subject</label><input class="form-control" type="text"></div>
                        <div class="form-group"><label>Email</label><input class="form-control" type="text"></div>
                        <div class="form-group"><label>Message</label><textarea class="form-control"></textarea></div>
                        <div class="form-group"><button class="btn btn-primary btn-block" type="button">Send</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
