<nav *ngIf="_navbarService.visible" class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button">
    <div class="container">
      <a [routerLink]="['/home']" class="navbar-brand" style="background-image:url(&quot;assets/img/g4871.png&quot;);background-repeat:no-repeat;background-size:100%;width:200px;background-position:center;height:50px;"></a><button class="navbar-toggler" data-toggle="collapse"
            data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">

            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/pages/courses']">COURSES</a></li>
                <!-- <li class="nav-item" role="presentation"><a class="nav-link" href="#subscribe">NEWS</a></li> -->
                <li class="nav-item" role="presentation">
                  <a class="nav-link" role="presentation" *ngIf="authService.isLoggedIn()" [routerLink]="['/pages/word-list']">WORD LIST</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" role="presentation" [routerLink]="['/pages/team']">TEAM</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" role="presentation" [routerLink]="['/pages/contact-us']">CONTACT US</a>
                </li>
            </ul>

            <span class="navbar-text actions">
              <a class="login pointer" [routerLink]="['/pages/cart']">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge badge-light">{{ cartItems }}</span>
              </a>
              <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/authentication/login2']" class="login pointer">Log In</a>
              <a *ngIf="authService.isLoggedIn()" (click)="authService.logOutUser()" class="login pointer">Log Out</a>
              <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/authentication/signup2']" class="btn btn-light action-button" role="button">Sign Up</a>
            </span>
          </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">EIK</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="features.html">Features</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="faq.html">FAQ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html">About Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="login.html">Login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="registration.html">Register</a></li>
            </ul>
        </div>
    </div>
</nav> -->
